.login{
    width: 100%;
    height: 80vh;
    margin-bottom: 150px;
    padding-top: 70px;
}

.logincontainer{
    width: 580px;
    height: 470px;
    margin: auto;
    background-color: whitesmoke;
    padding: 40px 60px;
}

.logincontainer h1{
    margin: 20px 0px;
}

.loginfield{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}


.loginfield input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid black;
    outline: none;
    color: grey;
}

.logincontainer button{
    width: 250px;
    height: 40px;
    color: white;
    background: rgba(255, 45, 45, 0.826);
    margin-top: 30px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.loginalready{
    margin-top: 20px;
    color: grey;
    font: 14px;
    font-weight: 500;
}

.loginalready span{
    color: rgb(0, 115, 153);
    font-weight: 600;
}

.terms{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}