*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0px 0px 2px black;
}

.nav-logo img{
    width: 50px;
    height: 50px;
}

.nav-login-cart img{
    width: 50px;
    height: 50px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: rgb(0, 0, 65);
    font-size: 20px;
    font-size: 600;
}

.nav-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    font-size: 17px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius:3px ;
    background: darkgray;
}

.nav-login-cart{
    display: flex;
    gap: 45px;
    align-items: center;
}

.nav-login-cart button{
    width: 130px;
    height: 50px;
    outline: none;
    border: 1px solid blue;
    border-radius: 75px;
    color: grey;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
}

.nav-login-cart button:active{
    background-color: rgb(201, 201, 201);
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    border-radius: 11px;
    background-color: red;
    color: white;
}

@media(max-width: 1280px){
    .navbar{
        padding: 12px 50px;
    }
}