.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: grey;
}

.relateditems{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    
}