.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footerlogo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footerlogo p{
    color: grey;
    font-size: 40px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 30px;
    color: black;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}

.footer-social-icons{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background-color: whitesmoke;
    border: 1px solid wheat;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 30px;
    color: black;
    font-size: 15px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: gold;
}

.footerlogo img{
    width: 50px;
}